#header {
  background-image: url("../assets/header2.jpg");
  background-position: center;
  background-size: cover;
}

/* #details h1{
  font-size: 100px;
  font-weight: 600;
  color: white;


}

#details h1:nth-child(2){
  color: white;
} */