@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

*::-webkit-scrollbar{
  display: none;
}

body{
  overflow-x: hidden;
}

.league-spartan-one {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

